<% if user_signed_in? %>
<% else %>
	<div class="hero-unit">	
		<h1>Welcome to fmv!</h1>

			<p>You've found the marketplace dedicated to freelance video 
			</p>
			<p>
				<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
	</div>
<% end %>

